*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.clearfix{
    overflow: hidden;
    clear: both;
}
header{
    background: #2d303a;
}
.fixwidth{
    width: 940px;
    margin: 0 auto;
}
.topnav{
    width: 940px;
    margin: 0 auto;
    padding: 34px 0;
}
@font-face {
    font-family: Lato-Bold;
    src: url("./fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: Lato-Black;
    src: url("./fonts/Lato-Black.ttf");
}
@font-face {
    font-family: Lato-Light;
    src: url("./fonts/Lato-Light.ttf");
}
#logo{
    width: 200px;
    float: left;
}
a{
    text-decoration: none;
}
#logo a{
    color: #fff;
    font-family: Lato-Bold;
    font-size: 25px;
}
#logo a span{
    color: #f06c64;
}
.topnav nav{
    float: right;
    width: 431px;
}
.topnav nav ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
}
.topnav nav ul li a{
    color: #fff;
    display: block;
    padding-top: 10px;
    padding-right: 20px;
    font-family: Lato-Bold;
    font-size: 12px;
}
.selected,.topnav nav ul li a:hover{
    color: #f06c64;
}
#banner{
    background: #f06c64;
    padding: 50px 0;
}
#ourServices{
    padding: 66px 0;
    background: #f2f2f2;
}
#portfolio h2, #aboutUs h3, #getaQuote h3, #ourServices h1{
    font-family: Lato-Black;
    font-size: 30px;
    color: #666d89;
}
#portfolio p, #aboutUs p, #getaQuote p, #ourServices p{
    font-family: Lato-Light;
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 0;
}
.itemService{
    width: 220px;
    float: left;
    margin-right: 20px;
    padding-left: 60px;
}
.itemService h3{
    font-family: Lato-Black;
    font-size: 25px;
    color: #666d89;
}
#portfolio{
    background: #2d303a;
    padding: 65px 0;
}
.portfolio{
    margin-bottom: 18px;
}
.portfolio ul li{
    float: left;
    margin-right: 10px;
}
.portfolio ul li a{
    display: block;
    color: #767e9e;
    font-size: 12px;
    padding: 5px;
    border: solid 1px #767e9e;
    border-radius: 5px;
}
.selectedx, .portfolio ul li a:hover{
    border: solid 1px #c5c5c5 !important;
    color: #c5c5c5 !important;
}
.itemx{
    float: left;
    margin-right: 20px;
    width: 215px;
    margin-bottom: 20px;
    height: 215px;
}
#aboutUs .itemAvata h4, #ourServices h3{
    font-family: Lato-Black;
    font-size: 18px;
    color: #666d89;
}
.itemfix{
    margin-right: 0;
}
#aboutUs{
    padding: 66px 0;
}
.itemAvata{
    float: left;
    width: 270px;
    margin-right: 60px;
}
.itemAvata img{
    margin-bottom: 20px;
}
#aboutUs .itemAvata p, #ourServices .itemService p{
    line-height: 21px;
}
.itemAvata ul li img {
    width: 24px; 
    height: 24px; 
    border-radius: 50%; 
    margin-right: 5px;
}
.itemAvata ul {
    padding: 0;
    margin: 0;
}
.itemAvata ul li {
    display: inline-block;
    margin-right: 5px; 
}
.itemAvata ul li img {
    width: 24px; 
    height: 24px; 
    border-radius: 50%; 
}
#getaQuote{
    padding: 66px;
    background: #f06c64;
}
.itemform{
    float: left;
    width: 620px;
}
.itemform input, .itemform textarea{
    background: #d6564f;
    width: 90%;
    border: none;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #f48c8f;
}
.contactform{
    float: left;
    width: 300px;
}
.contactform h4{
    font-family: Lato-Black;
    font-size: 18px;
    color: #f0d8d9;
}
.contactform .css, .contactform a{
    color: #f0d8d9 !important;
}
.contactform ul li a{
    background-position: 0 9px;
    display: block;
    padding: 5px 20px;
}
.contactform ul li{
    list-style: none;
}
footer .footer li, #aboutUs .itemAvata ul li{
    float: left;
    margin-right: 5px;
}
footer{
    background: #2d303a;
    padding: 22px 0;
}
footer .footer{
    float: right;
}
footer address{
    float: left;
    width: 300px;
    padding-top: 10px;
    color: #c5c5c5;
}
.footer li a img{
    width: 24px; 
    height: 24px; 
    border-radius: 50%;
}
.footer li{
    list-style: none;
}
